* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}
body {
  background: linear-gradient(
    to right,
    rgb(100, 153, 206),
    rgb(67, 119, 171),
    rgb(41, 88, 135)
  );
}
.container {
  border: 2px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  background-color: bisque;
  height: 700px;
  width: 700px;
  margin: 0 auto;
  border: 4px solid black;

  display: grid;
  /*when I was clicking on the grid cell to add x or o that specific cell would get a bit bigger and push the other cells.
  replacing the second parameter auto with 1fr and putting in a size of 1fr for the rows solves this issue
  */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}
.grid-cell {
  border: 1px solid black;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.display-game-status {
  font-size: 1.25rem;
  font-weight: 700;
}

.restartBtn {
  padding: 6px 8px;
  width: 200px;
  border-radius: 6px;
}

.restartBtn:hover,
.restartBtn:focus {
  cursor: pointer;
  box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 1);
}
